<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug History</title>
</head>
<body>
<div class="container my-2">
    <h1>Bug History</h1>
    <br><br>

    <table class = "table table-hover table-dark table-border">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Apparition Date</th>
            <th>Approval Date</th>
            <th>Programmer assigned</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="assignment: ${assignments}">
            <td th:text="${assignment.bugDTO.title}"/>
            <td>
                <textarea th:rows="10" th:cols="35" th:text="${assignment.bug.description}" readonly>
                </textarea>
            </td>
            <td th:text="${assignment.bug.apparitionDate}"></td>
            <td th:text="${assignment.bug.approvalDate}" />
            <td th:text="${assignment.employeeDTO.username}"/>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>