<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>History Bugs</title>
    <link rel="stylesheet" th:href="@{/home.css}" />

</head>
<body>
<div class="container my-2">
    <h1>Bug History</h1>
    <br><br>

    <table class = "table table-hover table-dark table-border">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Apparition Date</th>
            <th>Approval Date</th>
            <th>Programmer assigned</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="assignment: ${assignments}">
            <td th:text="${assignment.bugDTO.title}"/>
            <td>
                <textarea th:rows="10" th:cols="35" th:text="${assignment.bugDTO.description}" readonly>
                </textarea>
            </td>
            <td th:text="${assignment.bugDTO.apparitionDate}"></td>
            <td th:text="${assignment.bugDTO.approvalDate}" />
            <td th:text="${assignment.employeeDTO.username}"/>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>


