<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/home.css}" />

    <style>

        </style>
          <style>
        .cardDisplay {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: transparent;
        }
    </style>

</head>
<body>
<div id="options">
    <h3 class="text-center text pt-5">Select View</h3>
    <div class="container">
    <div id="options-row" class="cardDisplay">
            <div class="card text-white bg-secondary mb-3" th:if="${authority == 'ROLE_ADMIN'}">
                <h5 class="card-header">Admin View</h5>
                <p class="card-text">You can manage employee accounts</p>
                <a href="/admin/" class="btn btn-login">Admin</a>
            </div>
            <div class="card text-white bg-secondary mb-3" th:if="${authority == 'ROLE_TESTER'}">
                <h5 class="card-title">Tester View</h5>
                <p class="card-text">You can add/update new bugs</p>
                <a href="/admin/" class="btn btn-login">Tester</a>
            </div>

            <div class="card text-white bg-secondary mb-3" th:if="${authority == 'ROLE_MANAGER'}">
                <h5 class="card-title">Manager View</h5>
                <p class="card-text">You can assign bugs to programmers</p>
                <a href="/admin/" class="btn btn-login">Manager</a>
            </div>
            <div class="card text-white bg-secondary mb-3" th:if="${authority == 'ROLE_PROGRAMMER'}">
                <h5 class="card-title">Programmer View</h5>
                <p class="card-text">You update bugs</p>
                <a href="/admin/" class="btn btn-login">Programmer</a>
            </div>
            <div class="card text-white bg-secondary mb-3">
            <form
                    th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-login" value="Logout"/>
            </form>
        </div>
    </div>
    </div>
</div>



</body>
</html>