<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #DBF9FC;
        }
    </style>
</head>

<body>
    <div class = "container">
        <h1>User Management System</h1>
        <hr>
        <h2>Save User</h2>
        <form action="#" th:action="@{/admin/save}" th:object="${user}" method="POST">
        <span style="color:red" th:if="${error}" th:text="${error}">Error</span>

            <input type ="text" th:field = "*{username}" placeholder="Username" class="form-control mb-4 col-4">
            <br>
            <input type ="password" th:field = "*{password}" placeholder="Password" class="form-control mb-4 col-4">
            <br>
            <div>
                <label>Role:
                    <input type="radio" name="roles"
                           th:each="myRole : ${allRoles}"
                           th:text="${myRole.role}"
                           th:value="${myRole.role}"
                           th:field="*{role}"
                    />
                </label>
                <br>
            </div>
            <br>
            <button type="submit" class="btn btn-info col-2">Save User</button>
        </form>
        <hr>
        <a th:href = "@{/admin/}">Back to User List</a>
</body>
</html>