<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Solved Bugs</title>
    <link rel="stylesheet" th:href="@{/home.css}" />

</head>
<body>
<div class="container my-2">
    <h1>Solved Bug List</h1>
    <br><br>
    <div style="color:black;" th:if="${error}"  th:text="${error}">Error</div>

    <table class = "table table-hover table-dark table-border">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Apparition Date</th>
            <th>Programmer Assigned</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="assignment: ${assignments}">
            <td th:text="${assignment.bugDTO.id}"/>
            <td th:text="${assignment.bugDTO.title}"/>
            <td>
                <textarea th:rows="15" th:cols="50" th:text="${assignment.bugDTO.description}" readonly>
                </textarea>
            </td>
            <td th:text="${assignment.bugDTO.status}" />
            <td th:text="${assignment.bugDTO.apparitionDate}"></td>
            <td th:text="${assignment.employeeDTO.username}"></td>
            <td>
                <a th:href="@{/manager/approve-bug/{id}(id=${assignment.bugDTO.id})}" >
                    <button type="button" class="btn btn-update">Mark as approved</button>
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>


