<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Tester Home</title>
    <link rel="stylesheet" th:href="@{/home.css}" />

</head>
<body>
<!--<div th:replace="~{fragments/adminNavbar :: adminNavigation}"></div>-->

<div class="container my-2">
    <h1>Bug List</h1>
    <a th:href = "@{/tester/save}" class ="btn btn-add">Add Bug</a>
    <br><br>
    <div style="color:black;" th:if="${error}"  th:text="${error}">Error</div>

    <table class = "table table-hover table-dark table-border">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Apparition Date</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="bug: ${bugs}">
            <td th:text="${bug.id}"/>
            <td th:text="${bug.title}"/>
            <td th:text="${bug.description}"/>
            <td th:text="${bug.status}" />
            <td th:text="${bug.apparitionDate}"></td>
            <td>
                <a th:href="@{/tester/update/{id}(id=${bug.id})}" >
                    <button type="button" class="btn btn-update">Update</button>
                </a>
                <a th:href="@{/tester/delete/{id}(id=${bug.id})}" >
                    <button type="button" class="btn btn-red" >Delete</button>
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>